html {
  font-size: 12px;

  @include non-mobile {
    font-size: 16px;
  }
}

// not working in chrome/safari
*::-moz-selection,
*::selection {
  background-color: purple !important;
  color: #ffffff !important;
}

.App {
  text-align: center;
  position: relative;

  p, li span {
    font-size: 1.5rem;

    @include non-mobile {
      font-size: 0.875rem;
    }
  }
}

.container {
  display: flex;
  margin: auto;
  text-align: left;
  padding: 20px;

  @include non-mobile {
    width: 800px;
    padding: 50px 0;
  }
}

.main-content-container {
  h3 {
    margin: 20px 0;
  }
}

// Section containing all but the footer, found in #bottom.
#top {
  min-height: calc(100vh - 120px); // height + margin + border of #bottom

  @include non-mobile {
    min-height: calc(100vh - 144px); // height + margin + border of #bottom
  }
}

// Top nav bar
#top-app-bar {
  > div {
    display: flex;
    align-items: center;
  }
}

// Section with top level tabs and language switcher.
#top-app-bar-right {
  margin-left: auto;
  display: flex;
  margin-right: 20px;

  @include non-mobile {
    margin-right: 50px;
  }
}

// Site name in the top bar.
#site-name {
  font-family: 'Mogra', cursive;
  font-size: 1.7rem;
  padding-left: 20px;

  @include non-mobile {
    padding-left: 50px;
    font-size: 2.4rem;
  }

  &, a {
    color: #000000;
    text-transform: none;
  }

  a {
    &, &:hover {
      text-decoration: none;
    }

    &:hover {
      border-bottom: 3px solid $secondary-color;
      padding-bottom: 10px; 
    }
  }
}

// Site footer
$footer-border: 1px solid darken(#fafafa, 5%);
#bottom {
  margin-top: 30px;
  border-top: $footer-border;

  .main-content-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .button-list {
    @extend %flex-item-full-width; // styles for role as flex-item
    display: flex; // make it a flex container
  }

  .footer-item {
    flex-grow: 1; // flex-item property. each item will take up equal space and fill parent.

    &.linkedin {
      &:hover {
        .footer-item-icon {
          color: #1476B1;
        }
      }
    }

    &.youtube {
      &:hover {
        .footer-item-icon {
          color: #ff0000;
        }
      }
    }

    a {
      display: block;
      width: 100%;
    }
  }

  .footer-item-icon {
    display: block;
    font-size: 2rem;
  }

  .footer-item-label {
    text-transform: none;
  }

  .small-print {
    @extend %flex-item-full-width;

    border-top: $footer-border;
    text-align: center;
    padding: 5px 0;
    opacity: 0.6;
  }
}