.profile-summary-columns {
  @include non-mobile {
    flex-direction: row-reverse;
  }

  .about-tile {
    @extend %flex-item-full-width;
    
    @include non-mobile {
      flex: 0 0 50%;
    }

    &.photo-tile {
      @extend %flex-item-center;

      > div {
        display: inline-block;

        &, img {
          @extend %flex-item-center;
        }
      }

      &, > div, img {
        display: flex;
      }
    }
  }

  img {
    border-radius: 50%;
    border: 2px solid $secondary-color;
    width: auto;
    height: 200px;
  }
}