%overlay-text {
  color: #ffffff;
  text-align: center;
}

#work {
  &.container {
    @extend %full-width-flex-child-new-line;
  }

  .page-header {
    @extend %flex-item-full-width;
    margin-bottom: 40px;
  }

  .main-content-container {
    @extend %flex-item-full-width;

    max-width: 100%;
  }

  #project-tiles {
    width: 100%;
  }

  .project-tile {
    position: relative;
    margin-bottom: 20px;;
    background-position: -10000px;
    background-size: cover;
    background-repeat: no-repeat;
    
    @include non-mobile {
      background-position: center;

      &:hover .tile-overlay {
        display: flex;
      }
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .info-bar {
    display: none;

    @include non-mobile {
      display: flex;
    }
  }

  .tile-overlay {
    position: absolute;
    background: rgba(0, 0, 0, .4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    box-sizing: border-box;

    @include non-mobile {
      display: none;
      background: rgba(0, 0, 0, .8);
    }

    h4 {
      @extend %flex-item-full-width;
      @extend %overlay-text;
      @extend %flex-item-center;

      font-size: 1.3rem;
      margin-bottom: 15px;
      border-bottom: 1px solid #ffffff;

      @include non-mobile {
        font-size: 1rem;
        margin-bottom: 10px;
      }
    }

    h5 {
      @extend %flex-item-full-width;
      @extend %overlay-text;
      @extend %flex-item-center;

      font-size: 1.5rem;
      margin-bottom: 15px;

      @include non-mobile {
        font-size: 1.4rem;
        margin-bottom: 10px;
      }
    }

    .keywords {
      @extend %flex-item-full-width;
      @extend %overlay-text;
      @extend %flex-item-center;
      margin-bottom: 10px;
      display: none;
      text-transform: uppercase;
      font-size: 0.8rem;

      @include non-mobile {
        display: block;
      }
    }

    .button-container {
      @extend %flex-item-center;
    }

    button {
      &.primary-button {
        @extend %overlay-text;
        background-color: $secondary-color;
        margin-right: 10px;
      }

      a {
        font-size: 1.2rem;

        @include non-mobile {
          font-size: 1rem;
        }
      }
    }

    a:hover {
      text-decoration: none;
    }
  }
}

.tile-overlay-contents {
  margin: auto;
  width: 100%;

  display: flex;
  flex-direction: column;
}