// language switcher.
$language-img-width: 25px;

#language-switcher {
  display: flex;
  width: 60px;

  button {
    width: 100%;

    img {
      width: 40%;

      &:last-child {
        margin-left: 7px;
      }
    }
  }
}

#language-list {
  .language-item {
    position: relative;
    width: 90px;
    height: 100%;
  }

  .language-image {
    width: $language-img-width;
    height: 15px;
    left: 0;
  }

  .language-label {
    left: $language-img-width + 10px;
  }

  .language-image,
  .language-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  li {
    &:focus {
      background-color: transparent;
    }

    &.selected-language, &:hover {
      background-color: rgba(0, 0, 0, 0.09);
    }
  }

}